/*setear*/
body{
    outline: 1px solid black;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
/*encabezado*/
#contenedor {
    font-weight: 700;
    height:80px ;
    text-transform: uppercase;
    font-family: 'Monsetrrat';
    background-color: #212529;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index:1000;
}
#contenedor .title {
    display: inline-block;
    margin: 0;
    padding: 0px;
    position: relative;
    left: 100px;
    top: 26px;
}
.title a {
    text-decoration: none;
    font-size:30px;
    font-weight: 700;
    color:#fff;
   
}
/*menu de navegacion*/

nav {
    float: right;
    position: relative;
    top: 30px;  
}
nav .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

nav .menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav .menu li a {   
    text-decoration: none;
    color:#fff;
    display: inline-block;
    margin-right: 20px;
}
/*efecto al pasar el cursor*/
nav .menu li a:hover {
    color: #18bc9c;
}
/*segundo contenedor para un segundo encabezado para mi imagen 
y mi titulo */
.conteiner-uno {
    background-color: #18bc9c;
    outline: green;
    width: 100%;
    height: 750px;
    color: #fff;
    font-family: "lato" ;
    }

.estrella-uno {
    padding-bottom: 20px;
}
.estrella-uno::after {
    content: "";
    width: 120px;
    background-color: #fff;
    height: 5px;
    display:inline-block;
}
.estrella-uno::before {
    content: "";
    width: 120px;
    background-color: #fff;
    height: 5px;
    display:inline-block;
}

.estrella::after {
    content: "";
    width: 120px;
    background-color: black;
    height: 5px;
    display:inline-block;
}

.estrella::before {
    content: "";
    width: 120px;
    height: 5px;
    background-color: black;
    display: inline-block;
    color: black;
}
span {
    position: relative;
    top: 10px;
    text-align: center;
    margin: 8px;
    margin-bottom: 15px;
    
}
.cont-imagen {
    width: 100%;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto; 
    padding-top: 200px;
}
.cont-imagen img {
    max-width: 100%;  
}
.texto .titulo-prin{
    display: block;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 800; 
}
.texto .parraf {
    font-size: 30px;
    font-weight: 300px;
}
/*section uno*/
#seccion-uno {
   
    padding: 100px 0;
    
}
#seccion-uno .cont-seccion{
   
    width: 100%;
    height: 650px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto; 
    text-transform: uppercase;
    font-family: "Montserrat";   
}
.cont-seccion h2 {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
}
.imagenes-a {
    padding-left: 120px;
    text-align: center;
}
.imagenes-a .box>a> {
    float: left;
    width: 100%;  
}
.imagenes-a .box>a>img {
    float: left;
    width: 27%;
    height: 27%;
    margin: 15px;
}
/*seccion dos*/
#seccion-dos {
    
    text-align: center;
    background-color: #18bc9c;
    font-family: "Montserrat";
    height: 600px;
    
}
.information {
    float: left;
    background-color: #18bc9c;
    color: white;
}
.information h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    padding-top: 100px;
}

.information .parrafo {
    
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 10px;
}

.button a {
    outline: 2px solid #fff;
    display: inline-block;
    width: 210px;
    height: 40px;
    margin: 20px;
    text-decoration:none; 
    color:white;
    font-size: 20px;
    padding: 5px;
}
/*dandole el efecto para que cambie de color al pasar el pulsor*/
 .button a:hover {
     background-color: #fff;
     color:#18bc9c;
 }

/*seccion-tres*/
#seccion-uno {
   text-align: center;
}
#seccion-uno .contacto-u {
   font-family: "lato";
   text-align: center;
   text-transform:uppercase;
   font-weight: 700;
   font-size: 40px;
    
}

/*formulario de datos*/
.container {
	max-width: 450px;
	height: auto;
	margin: 5% auto;
	padding-bottom: 1rem;	
}

.form__reg {
	padding: 0 2rem;
	display: flex;
    flex-direction: column;	
}

.btn__form {
	display: flex;
	/*justify-content: space-around;*/
    margin-top: 1rem;
    background-color:#18bc9c;
    width:  90px ;
    height: 50px;
    border-radius: 15px;
   
}

.input {
	background-color: #fff;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: 1px solid #ddd;
    /*transition: all .5s;*/
    width: 600px;
    height: 100px;
    font-size: 25px;
    outline: none;
}
.input text {
    size: 20px;
    font-family: inherit;  
}

input:focus{
    border-bottom: solid #18bc9c;
}
/*boton submit del formulario*/
.btn__submit {
	width: 100%;
	border-bottom: none;
	background-color: #18bc9c;
    color: white;
    border-radius: 15px;
    font-size: 20px;
}

/*footer*/
.pie-pag {
    width: 100%;
    float: right;
    background-color: #2c3e50;  
}

.conteiner-footer {
    padding: 50px;
    text-align: center;
    font-family: "lato";
    float: left;
}

.conteiner-footer .col {
    width: 30%;
    height: 200px;
    /*display: inline-block;*/
    float: left;
    margin: 10px;
}

.col h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform:uppercase;
    color: #fff;
}
.col p {
    font-size: 20px;
    color: #fff;
}
.iconos li {
    list-style: none;
    display: inline-block;
    border-radius: 100%;
    margin-right: 7px;
    text-align: center;
}

.iconos a {
    text-decoration: none;
    font-size: 30px;
    color:#fff; 
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 2px solid #fff 
}
.iconos a:hover {
    background-color: #fff;
    color: #18bc9c;
}
.col>h3>p>.color-letra {
    text-decoration: none;
}

.copyrigth p {
   text-align: center;
   color: #fff;
   }

/*fin*/

  


